/* -------------------------------
-------- NOTRE ASSOCIATION--------
-------------------------------- */

h1.association {
    background-color: var(--background-dark);
    font-family: var(--font-titles);
    color: var(--background-extra-light);
    text-align: center;
    font-size: 4.5rem;
    padding: 20px;
    text-shadow: var(--drop-shadow-global);
}

section.association {
    font-family: 'Gayathri', 'Helvetica';
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    background-color: var(--background-light);
    padding: 80px 35px 70px 35px;
    text-align: justify;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-columns: 1fr .8fr;
    gap: 0 60px;
    justify-items: center;
    align-items: center;
}

img.membres, img.cours_couture {
    border-radius: 40px;
    border: 4px solid black;
    width: 100%;
}

.elements {
    margin-bottom: 20px;
}


.colonne_texte1 {
    padding-left: 25px;

}

.colonne_texte2 {
    padding-left: 25px;
}

/* -------------------------------
-------- NOS FONDATEURS-----------
-------------------------------- */

h1.fondateurs {
    background-color: var(--background-dark);
    font-family: var(--font-titles);
    color: var(--background-extra-light);
    text-align: center;
    font-size: 4.5rem;
    padding: 20px;
    text-shadow: var(--drop-shadow-global);
}

section.fondateurs {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-extra-light);
    padding: 50px;
    font-family: 'Gayathri', Helvetica;
}

.card_fondatrices {
    background-color: var(--background-light);
    border-radius: 130px;
    width: 30%;
}

.bandeau {
    background-color: #B886CA;
    border-radius: 130px;
    display: flex;
    align-items: center;
}

.photos_fondatrices {
    width: 80%;
}

.bandeau h2 {
    font-family: var(--font-titles);
    font-size: 3rem;
}

p {
}